@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@keyframes rise {
  from {
    padding-top: 50px;
    opacity: 0;
  }
  to {
    padding-top: 0;
    opacity: 1;
  }
}
@keyframes grow {
  from {
    padding-top: 50px;
    background-size: 120%;
    opacity: 0;
  }
  to {
    padding-top: 0;
    background-size: 100%;
    opacity: 1;
  }
}
@keyframes cart {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes out {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    display: none;
  }
}
* {
  box-sizing: content-box;
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
}

header {
  color: white;
  background-image: linear-gradient(306deg, #00D4FF 0%, #00A0A0 31%, #020024 100%);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
header a img {
  width: 80px;
}

.navbar {
  width: 80%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.nav-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-toggler {
  border-style: none;
}

.act {
  color: black;
}

footer {
  color: white;
  background-image: linear-gradient(126deg, #00D4FF 0%, #00A0A0 31%, #020024 100%);
  padding: 15px;
  display: sticky;
  bottom: 0;
}
footer p {
  text-align: center;
  margin-bottom: 0;
}

.fa-brands {
  color: white;
  width: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 50%;
}

footer .fa-whatsapp {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 40px;
  font-size: 40px;
  padding: 10px;
}

.fa-whatsapp {
  background-color: #25D366;
}

.fa-facebook-f {
  background-color: #1877F2;
}

.fa-x-twitter {
  background-color: black;
}

.fa-instagram {
  background-color: #D62976;
}

main {
  padding: 15px 0;
}

h3, .banner h2, :not(.banner, #cart) > h2, h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 15px 15px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

:not(.banner, #cart) > h2 {
  font-size: 30px;
  font-weight: bold;
}

h3, .banner h2 {
  font-size: 20px;
  padding: 0 15px;
}

p, .list {
  padding: 15px 15px;
  margin: 0;
}

ol {
  margin: 0;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: white;
  background-image: linear-gradient(to bottom right, #00A0A0, #005050);
  width: auto;
  padding: 10px;
  margin: 15px 15px;
  border-radius: 50px;
  border-width: 0;
  cursor: pointer;
}

#cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart-num {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  margin-bottom: 20px;
  padding: 0;
}

.overflow {
  font-size: 20px;
  margin-bottom: 15px;
}

.cart-img {
  width: 70px;
  margin: auto;
}

.cart-list {
  position: absolute;
  display: none;
  opacity: 0%;
  background-image: linear-gradient(306deg, #00D4FF 0%, #00A0A0 31%, #020024 100%);
  padding: 0 15px;
  border-radius: 30px;
  top: 100px;
  right: 0;
  width: 500px;
  cursor: default;
}

.item, .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 15px 0;
  height: 50px;
  width: 100%;
}

.name {
  font-size: 20px;
  width: 30%;
  padding: 0 0 0 15px;
}

.item div {
  display: flex;
  align-items: center;
  height: 100%;
}
.item div img {
  filter: invert(100%);
  cursor: pointer;
}

.down, .up {
  height: 100%;
}

.delete {
  height: 80%;
  padding: 0 0 0 15px;
}

.qty {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  width: 70px;
  padding: 0;
}

.price {
  font-size: 20px;
  width: 15%;
  text-align: end;
  padding: 0 15px 0 0;
}

.total {
  border-top: solid 1px;
}
.total .price {
  font-size: 25px;
}

.empty {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.banner {
  animation: rise 2s;
  background-image: url(../img/banner.jpg);
  background-position: top;
  background-repeat: no-repeat;
  height: 400px;
  text-align: center;
  color: white;
  background-size: 1400px;
}
.banner h1 {
  padding: 15px 0 0 0;
}

.cuadros {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuadros div {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuadros div img {
  width: 50%;
}
.cuadros div h3 {
  font-weight: bold;
}

.destacados {
  background-color: black;
  color: white;
  padding: 15px 0;
  display: grid;
  grid-template-rows: auto repeat(3, 400px);
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-areas: "tit tit tit" "img1 img1 txt1" "txt2 img2 img2" "img3 img3 txt3";
  gap: 15px 15px;
}
.destacados h2 {
  text-align: center;
  grid-area: tit;
}

.img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-area: img1;
}

.txt1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: txt1;
}

.img2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-area: img2;
}

.txt2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: txt2;
  align-items: flex-end;
  text-align: right;
}

.img3 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-area: img3;
}

.txt3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: txt3;
}

/*main productos*/
.productos div {
  width: 100%;
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
}
.productos div:first-child {
  padding: 0;
}
.productos div a {
  align-self: start;
}
.productos div img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

/*main mapa*/
.mapa {
  width: 100%;
  padding: 15px 0;
}

/*main contactos*/
.contactos {
  display: flex;
  flex-direction: column;
}
.contactos > div:last-child {
  padding: 15px 0 0 0;
}

.redes {
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.redes .fa-brands {
  width: 40px;
  font-size: 40px;
  padding: 10px;
}

/*form*/
form div {
  padding: 15px 15px;
}

textarea {
  margin: 15px 15px;
  width: 75%;
  height: auto;
}

.nav-link {
  transition: color 0.5s;
}
.nav-link:hover {
  color: black;
}

.cart-img {
  transition: filter 0.5s;
}

.cart-num {
  transition: color 0.5s;
}

#cart:hover .cart-img {
  filter: invert(100%);
}
#cart:hover .cart-num {
  color: black;
}
#cart:hover .cart-list {
  display: block;
  animation: cart 0.5s;
  animation-fill-mode: forwards;
}

.down, .up, .delete {
  transition: filter 0.5s;
}
.down:hover, .up:hover, .delete:hover {
  filter: invert(0%);
}

.fa-brands {
  transition: all 0.5s;
}
.fa-brands:hover {
  background-color: white;
  color: black;
}

.button {
  transition: all 0.5s;
}
.button:hover {
  color: black;
}
.button:active {
  background-image: linear-gradient(to top left, #00A0A0, #005050);
}

@media only screen and (min-width: 768px) {
  main, .cuadros, .destacados {
    padding: 30px 0;
  }
  h1, :not(.banner, #cart) > h2, p, .list, form div, .redes {
    padding: 15px 30px;
  }
  h3, .banner h2 {
    padding: 0 30px;
  }
  .button, textarea {
    margin: 15px 30px;
  }
  .banner h1 {
    padding: 30px 0 0 0;
  }
  .destacados {
    gap: 30px 15px;
  }
  .productos div {
    padding: 30px 0 0 0;
  }
  .productos div:first-child {
    padding: 0;
  }
  .contactos > div:last-child {
    padding: 0;
  }
  header {
    position: sticky;
    top: 0;
  }
  .nav-link {
    font-size: 14px;
  }
  .cuadros {
    flex-direction: row;
    justify-content: space-around;
  }
  .cuadros div {
    width: 33%;
  }
  .cuadros div img {
    width: 75%;
  }
  .contactos {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .contactos > :first-child {
    text-align: right;
  }
  .contactos > :last-child {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  main, .cuadros, .destacados {
    padding: 40px 0;
  }
  h1, :not(.banner, #cart) > h2, p, .list, form div, .redes {
    padding: 15px 40px;
  }
  h3, .banner h2 {
    padding: 0 40px;
  }
  .button, textarea {
    margin: 15px 40px;
  }
  .banner h1 {
    padding: 40px 0 0 0;
  }
  .destacados {
    gap: 40px 15px;
  }
  .productos div {
    padding: 40px 0 0 0;
  }
  .productos div:first-child {
    padding: 0;
  }
  .contactos > div:last-child {
    padding: 0;
  }
  header a img {
    width: 120px;
  }
  .nav-link {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner {
    animation: grow 2s;
    background-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
