@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

$background: #00A0A0;
$background2: #005050;
$facebook: #1877F2;
$whatsapp: #25D366;
$instagram: #D62976;

$gradient: linear-gradient(to bottom right, $background, $background2);
$gradient2:linear-gradient(to top left, $background, $background2);

$tablet: 768px;
$pc: 992px;

@mixin size($width, $padding, $margin) {
    width: $width;
    padding: $padding;
    margin: $margin;
}

* {
    box-sizing: content-box;
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
}

@import 'partials/headerFooter';
@import 'partials/main';
@import 'partials/banner';
@import 'partials/cuadros';
@import 'partials/destacados';
@import 'partials/mainPages';
@import 'partials/hover';