@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

$background1: #00D4FF;
$background2: #00A0A0;
$background3: #005050;
$background4: #020024;

$facebook: #1877F2;
$whatsapp: #25D366;
$instagram: #D62976;

$gradientHeader: linear-gradient(306deg, $background1 0%, $background2 31%, $background4 100%);
$gradientFooter: linear-gradient(126deg, $background1 0%, $background2 31%, $background4 100%);
$button: linear-gradient(to bottom right, $background2, $background3);
$buttonClick:linear-gradient(to top left, $background2, $background3);

$tablet: 768px;
$pc: 992px;

$padding1: 15px;
$padding2: 30px;
$padding3: 40px;

$imgHeight: 400px;

@keyframes rise {
    from {
        padding-top: 50px;
        opacity: 0;
    }  

    to {
        padding-top: 0;
        opacity: 1;
    }
}

@keyframes grow {
    from {
        padding-top: 50px;
        background-size: 120%;
        opacity: 0;
    }
    to {
        padding-top: 0;
        background-size: 100%;
        opacity: 1;
    }
}

* {
    box-sizing: content-box;
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
}

@import 'partials/header';
@import 'partials/footer';
@import 'partials/main';
@import 'partials/banner';
@import 'partials/cuadros';
@import 'partials/destacados';
@import 'partials/mainPages';
@import 'partials/hover';
@import 'partials/queries';