.banner {
    animation: rise 2s;
    background-image: url(../img/banner.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: $img-height;
    text-align: center;
    color: white;
    background-size: 1400px;
    z-index: -1;

    h1 {
        padding: $padding1 0 0 0;
    }
}