#cart {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart-num {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    z-index: -1;
    margin-bottom: 20px;
    padding: 0;
}

.overflow {
    font-size: 20px;
    margin-bottom: 15px;
}

.cart-img {
    width: 70px;
    margin: auto;
}

.cart-list {
    position: absolute;
    display: none;
    opacity: 0%;
    background-image: $gradient-header;
    padding: 0 15px;
    border-radius: 30px;
    top: 100px;
    right: 0;
    width: 500px;
    cursor: default;
}

.item, .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 15px 0;
    height: 50px;
    width: 100%;
}

.name {
    font-size: 20px;
    width: 30%;
    padding: 0 0 0 15px;
}

.item div {
    display: flex;
    align-items: center;
    height: 100%;

    img {
        filter: invert(100%);
        cursor: pointer;
    }
}

.down, .up {
    height: 100%;
}

.delete {
    height: 80%;
    padding: 0 0 0 15px;
}

.qty {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 70px;
    padding: 0;
}

.price {
    font-size: 20px;
    width: 15%;
    text-align: end;
    padding: 0 15px 0 0;
}

.total {
    border-top: solid 1px;

    .price {
        font-size: 25px;
    }
}

.empty {
    border: none;

    p {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
}