.cart-widget {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
}

.widget-num {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    z-index: -1;
    margin-bottom: 20px;
    padding: 0;
}

.overflow {
    font-size: 20px;
    margin-bottom: 15px;
}

.widget-img {
    width: 70px;
    margin: auto;
    cursor: pointer;
}

.widget-list {
    position: absolute;
    display: none;
    opacity: 0%;
    background-image: $gradient-header;
    padding: 0 15px;
    border-radius: 30px;
    top: 100px;
    right: 0;
    width: 500px;
    z-index: 1;
}

.widget-item, .widget-total, .checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 15px 0;
    height: 50px;
    width: 100%;

    .name {
        font-size: 20px;
        width: 30%;
        padding: 0 0 0 15px;
    }    

    .price {
        font-size: 20px;
        width: 15%;
        text-align: end;
        padding: 0 15px 0 0;
    }    
}

.widget-total {
    border-top: solid 1px;

    .price {
        font-size: 25px;
    }

    &.empty {
        border: none;

        p {
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
    }
}

.checkout.empty {
    .checkout-list, .buttons :last-child {
        display: none;
    }

    .checkout-total {
        text-align: start;
    }
}

.checkout-list {
    color: white;
    background-color: black;
    padding: 10px 0;
}

.checkout-item {
    height: 100px;
    justify-content: space-around;

    .counter {
        .up, .down {
            height: 50%;
        }

        .delete {
            height: 40%;
        }
    }
}

.checkout-img {
    height: 80%;
    border-radius: 30px;
}

.checkout-total {
    font-size: 30px;
    height: 100px;
    width: 100%;
    text-align: end;
    display: flex;
    align-items: center;

    p {
        width: 100%;
    }
}