.destacados {
    background-color: black;
    color: white;
    padding: $padding1 0;
    display: grid;
    grid-template-rows: auto repeat(3, $imgHeight);
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas:
    'tit tit tit'
    'img1 img1 txt1'
    'txt2 img2 img2'
    'img3 img3 txt3';
    gap: $padding1 15px;

    h2 {
        text-align: center;
        grid-area: tit;
    }
}

@for $i from 1 through 3 {
    .img#{$i} {
        height: 100%;
        width: 100%;
        object-fit: cover;
        grid-area: img#{$i};
    }

    .txt#{$i} {
        display: flex;
        flex-direction: column;
        align-items: flex-start;    
        grid-area: txt#{$i};

        @if $i % 2 == 0 {
            align-items: flex-end;
            text-align: right;
        }
    }
}