$hover-time: 0.5s;

.nav-link {
    transition: color $hover-time;

    &:hover {
        color: black;
    }
}

.cart-img {
    transition: filter $hover-time;
}

.cart-num {
    transition: color $hover-time;
}

#cart:hover {
    .cart-img {
        filter: invert(100%);
    }

    .cart-num {
        color: black;
    }

    .cart-list {
        display: block;
        animation: cart $hover-time;
        animation-fill-mode: forwards;
    }
}

.down, .up, .delete {
    transition: filter $hover-time;

    &:hover {
        filter: invert(0%);
    }
}

.fa-brands {
    transition: all $hover-time;

    &:hover {
        background-color: white;
        color: black;
    }
}

.button {
    transition: all $hover-time;

    &:hover {
        color: black;
    }

    &:active {
        background-image: $button-click;
    }
}