$hover-time: 0.5s;

.nav-link {
    transition: color $hover-time;

    &:hover {
        color: black;
    }
}

.widget-img {
    transition: filter $hover-time;
}

.widget-num {
    transition: color $hover-time;
}

.cart-widget:hover {
    .widget-img {
        filter: invert(100%);
    }

    .widget-num {
        color: black;
    }

    .widget-list:not(.hidden) {
        display: block;
        animation: cart $hover-time;
        animation-fill-mode: forwards;
    }
}

.widget-item img {
    transition: filter $hover-time;

    &:hover {
        filter: invert(0%);
    }
}

.fa-brands {
    transition: all $hover-time;

    &:hover {
        background-color: white;
        color: black;
    }
}

.button, .sign button.button, .sign:hover button.button {
    transition: all $hover-time;

    &:hover {
        color: black;
        background-image: $button;
    }

    &:active {
        background-image: $button-click;
    }

    &:focus {
        box-shadow: none;
    }
}