main {
    padding: $padding1 0;
}

.black {
    color: white;
    background-color: black;
}

%title {
    text-transform: uppercase;
    margin: 0;
    padding: 15px $padding1;
}

h1 {
    @extend %title;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

:not(.banner, .cart-widget) > h2 {
    @extend %title;
    font-size: 30px;
    font-weight: bold;
}

h3, .banner h2 {
    @extend %title;
    font-size: 20px;
    padding: 0 $padding1;
}

p, .list {
    padding: 15px $padding1;
    margin: 0;
}

ol {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.button {
    text-transform: uppercase;
    display: block;
    color: white;
    background-image: $button;
    width: auto;
    padding: 10px;
    margin: 15px $padding1;
    border-radius: 50px;
    border-width: 0;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter {
    display: flex;
    align-items: center;
    height: 100%;

    .qty {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        width: 70px;
        padding: 0;
    }        

    img {
        filter: invert(100%);
        cursor: pointer;
    }

    .down, .up {
        height: 100%;
    }

    .delete {
        height: 80%;
        padding: 0 0 0 15px;
    }
}
